.cont {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: red;
    display: block;
}

html, body {
    height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
}

img{
margin-bottom:5px;

}

::-webkit-scrollbar {
    display: none;
}

body {
  max-width:100%;
  background-color:#f1f1f1;
  color:#036; font-family:Segoe Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
  padding-top:80px;
}
#navTop{
background-color:#036;
height:80px;
}

.spritespin {
  width: 480px;
}

@media (min-width: 768px) {
  .spritespin {
    width: 622px;
  }
}
@media (min-width: 992px) {
  .spritespin {
    width: 804px;
  }
}
@media (min-width: 1200px) {
  .spritespin {
    width: 972px;
  }
}
@media (min-width: 1600px) {
  .spritespin {
    width: 1278px;
  }
}
#scroller {
  overflow-y:scroll;

}

@media (min-width: 768px) {
  #scroller {
    max-height:352px;
  }
}
@media (min-width: 992px) {
  #scroller  {
    max-height:455px;
  }
}
@media (min-width: 1200px) {
  #scroller  {
    max-height:548px;
  }
}
@media (min-width: 1600px) {
  #scroller  {
    max-height:722px;
  }
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.container{
   padding-left: 0px;
   padding-right: 0px;
}
#scroller{

  position: relative;


}

.click{
  cursor:pointer;
}

h3{
  color: #036;
}
a{
  color:#036;
}
